# Virtual environment
venv/
env/
.venv/

# Database
db.sqlite3
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# IDE
.idea/

# Django
staticfiles/
media/

# OS
.DS_Store
Thumbs.db